<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Upload Image</title>
</head>
<body>
<form action="?module=upload" method="POST" enctype="multipart/form-data">
<p> Choose image: <input type="file" name="upload"></p>
<p> (Supported formats: .jpg, .png, .gif)</p>
<p> (Max size: 2 MB)</p>
<p> Image name: <input type="text" name="name"></p>
<p> Image tags (separate with commas, e.g. "funny, dog"):</p>
<p> <input type="text" name="tags" size="50"></p>
<p><input type="submit" value="Upload Image"></p>
</form>
<p><a href="./">Home</a></p>
</body>
</html>
